<div style="text-align:center">
  <h1>{{title}}</h1>
  <div>
    <input type="text" value="message" [(ngModel)]="message" >
    {{message}}
  </div>
  <app-home></app-home>
  <app-login></app-login>
</div>