<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>



<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>UserName</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let user of users">
    
    <td><div [ngSwitch]="user.id">
      <div *ngSwitchCase="0">output</div>
      <div *ngSwitchDefault>output2</div>
    </div></td>
    <td>{{user.name}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
  </tr>
  
</table>

</body>
</html>
